.container{
    display: flex;
    width: 100%;
}
.feedAddFriend{
    margin-bottom:30px;

}
.filterButton{
    border-radius: 12px;
    margin:5px;
    
    border-width: 1.2px;
    background-color: white;
    color:rgb(109, 108, 108);
}
.filterDiv{
    
    margin-bottom: 15px;
}
