*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
}
body {
  background: #fff;
  font-family: "Open sans";
}
.wrapper {
  bottom: 1em;
  flex-direction: column;
  position: absolute;
  right: 1em;
  width: 97%;
  top: 90px;
}
.btn {
  all: unset;
  cursor: pointer;
}
.btn--chat {
  align-self: flex-end;
  background: #f33e4e;
  border-radius: 0.125em;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: block;
  font-size: 1.35rem;
  margin-top: 0.5em;
  transition: all 300ms ease;
  text-align: center;
  height: 2em;
  width: 2em;
}
.btn--chat:hover {
  background: #ff2727;
}
.chatbox {
  height: 560px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 0.5em;
  opacity: 0;
  order: -1;
  transition: all 300ms ease;
  transform-origin: 100% 100%;
  transform: scale(0);
  visibility: hidden;
}
.chatbox--is-visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
