*{
	box-sizing:border-box;
}
body{
	font-family:Arial;
}
#container{
	display: flex;
    flex-direction: row;
    align-items: stretch;
	height:100%;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}

main{
	width: 75%;
	/* width:490px; */
	height: 100%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}


h2,h3{
	margin:0;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height: 380px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}